.material {
    
    &__wrapper {
        width: $wrapper-width;
        margin: 0 auto;
        padding:5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title{
        display: flex;
        justify-content: center;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 5%;
    }

    &__text{

    }

    &__media{
        width:100%;
        height:fit-content;
        margin-top: 10%;
    }

    &__image{
        display: flex;
        justify-content: center;
        border-radius: 20;
    }

    &__dates{
        font-size: smaller;
        color: $foreground-color-3
    }
}

@media screen and (max-width: $mobile-width) {
    .material {
        &__title{
            font-size: 30px;
        }

        &__text{
            font-size: small;
        }
    }
}