.materialspage {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 30px;
}

.results {
    &_wrapper {
        width: $wrapper-width;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 0 auto;
    }
    
    &__list {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

.results_not_found_message {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: $foreground-color-5;
    margin: 40px;
}

.addpost {
    padding: 10px 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid $primary-color;
    color: $primary-color;
    text-decoration: none;
    width: fit-content;
}