html, body {
    height: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: white;
}

h1, h2, h3, h4{
    color: white;
    text-decoration: none;
}

p{
    color:rgb(0, 12, 83);
}