/* Основной стиль для навбара */
.navbar {
    background-color: $bg2;
    color: #fff;
    padding: 1rem;

    &__wrapper{
        width: $wrapper-width;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        & > * {
            margin: auto 0;
            & > * {
                margin: auto 0;
            }
        }
    }

    &__head{
        
    }
  }
  
  /* Логотип */
  .logo {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
  }
  
  /* Ссылки на навбаре (desktop) */
  .navLinks {
    display: flex;
    gap: 1.5rem;
  }
  
  /* Кнопка меню для мобильных устройств */
  .menuButton {
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  /* Dropdown меню для мобильных */
  .dropdownMenu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  /* Медиа-запросы для мобильных */
  @media (max-width: 768px) {
    .navLinks {
      display: none; /* Скрываем ссылки на desktop */
    }
  
    .menuButton {
      display: block; /* Показываем кнопку на мобильных */
    }
  }
  